<h1>
  Page Afficher
</h1>
<table border="1">
  {% for s in services %}
    {# This is a comment #}
    <tr>
      <td>
        {{s.name}}
      </td>
      <td>{{s.description }}</td>
      <td>Details</td>
    </tr>
  {% endfor %}
</table>

<a href="{{ path('app_service', {name: 'test'}) }}">
  Vers Index
</a>
