<!DOCTYPE html>
<html>
<head>
    <title>Bar Chart Example</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    {{ render_chart(chart, {'data-controller': 'mychart'}) }}
    {# <script>
        var ctx = document.getElementById('barChart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'bar',
            data: {{ chart.data|raw }},
            options: {{ chart.options|raw }}
        });
    </script> #}
</body>
</html>
